@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "vazir";
/*     src: url(../font/Vazir-Bold.eot);
    src: url(../font/Vazir-Bold.ttf);
    src: url(../font/Vazir-Bold.woff);
    src: url(../font/Vazir-Bold.woff2);
    src: url(../font/Vazir-Light.eot);
    src: url(../font/Vazir-Light.ttf);
    src: url(../font/Vazir-Light.woff);
    src: url(../font/Vazir-Light.woff2);
    src: url(../font/Vazir-Medium.eot);
    src: url(../font/Vazir-Medium.ttf);
    src: url(../font/Vazir-Medium.woff);
    src: url(../font/Vazir-Medium.woff2);
    src: url(../font/Vazir-Thin.eot);
    src: url(../font/Vazir-Thin.ttf);
    src: url(../font/Vazir-Thin.woff);
    src: url(../font/Vazir-Thin.woff2); */
    src: url(../font/Vazir.eot);
    src: url(../font/Vazir.ttf);
    src: url(../font/Vazir.woff);
    src: url(../font/Vazir.woff2);
    font-display: auto;
}
body {
    font-family: vazir, Tahoma;
}